<div class="container full-height align-center page-animate">
  <div class="card app-card p-4" style="width: 350px">

    <h4 class="text-center mb-3">Vendor Analytics Login</h4>

    <!-- ERROR MESSAGE -->
    <div *ngIf="error" class="alert alert-danger py-2">{{ error }}</div>

    <form (ngSubmit)="onLogin()">

      <!-- EMAIL -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control"
               [(ngModel)]="email"
               name="email"
               placeholder="enter email"
               required>
      </div>

      <!-- PASSWORD -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password"
               class="form-control"
               [(ngModel)]="password"
               name="password"
               placeholder="enter password"
               required>
      </div>

      <!-- LOGIN BUTTON -->
      <button class="btn btn-primary w-100" [disabled]="loading">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>

    </form>

  </div>
</div>
